{% extends 'base.html' %} {% load crispy_forms_tags %}
<!-- begin content -->
{% block content%}

<div class="row g-3 mb-4 align-items-center justify-content-between">
  <div class="col-auto">
    <h1 class="app-page-title mb-0">Buat {{module}}</h1>
  </div>
  <div class="col-auto">
    <div class="page-utilities">
      <div
        class="row g-2 justify-content-start justify-content-md-end align-items-center"
      >
        <div class="col-auto">
          <a class="btn app-btn-secondary" href="{% url links.list %}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-card-list"
              viewBox="0 0 16 16"
            >
              <path
                d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"
              />
              <path
                d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"
              />
            </svg>

            Lihat Data
          </a>
        </div>
      </div>
      <!--//row-->
    </div>
    <!--//table-utilities-->
  </div>
  <!--//col-auto-->
</div>

<hr class="mb-4" />
<div class="row g-4 settings-section">
  <div class="col-12 col-md-12">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <form method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <div class="row">
            <div class="d-inline p-2 m-2 bg-secondary text-white col-12">
              IDENTITAS ARSIP
            </div>
          </div>
          {{form|crispy }}
          <!-- <div class="row g-3">
            <div class="col-md-4">{{form.no_arsip|as_crispy_field}}</div>
            <div class="col-md-4">{{form.jenis_dokumen|as_crispy_field}}</div>
            <div class="col-md-4">
              {{form.kode_klasifikasi|as_crispy_field}}
            </div>
            <div class="col-md-4">{{form.pencipta|as_crispy_field}}</div>
            <div class="col-md-4">{{form.pengelola|as_crispy_field}}</div>
            <div class="col-md-4">{{form.tanggal_dokumen|as_crispy_field}}</div>
            <div class="col-md-4">{{form.keterangan|as_crispy_field}}</div>
            <div class="col-md-8">{{form.uraian|as_crispy_field}}</div>
          </div>

          <div class="row mt-3">
            <div class="d-inline p-2 m-2 bg-secondary text-white col-12">
              PENYIMPANAN ARSIP
            </div>
            <div class="col-md-4">{{form.media|as_crispy_field}}</div>
            <div class="col-md-4">{{form.lokasi|as_crispy_field}}</div>
            <div class="col-md-4">{{form.tempat|as_crispy_field}}</div>
            <div class="col-md-6">{{form.nomor_box|as_crispy_field}}</div>
            <div class="col-md-6">{{form.file|as_crispy_field}}</div>
          </div> -->

          <button type="submit" class="btn app-btn-primary mt-3">Simpan</button>
        </form>
      </div>
      <!--//app-card-body-->
    </div>
    <!--//app-card-->
  </div>
</div>

<!-- end content  -->
<!-- java script kode  -->
<script>
  // Select all input elements with type "date"
  var dateInputs = document.querySelectorAll('input[type="date"]');

  // Change the format of each date value
  dateInputs.forEach(function (input) {
    // Get the current value of the input
    var currentValue = input.value;

    // Split the current value by "-"
    var parts = currentValue.split("-");

    // Rearrange the parts in the new format "yyyy-MM-dd"
    var newValue = parts[2] + "-" + parts[1] + "-" + parts[0];

    // Set the new value to the input
    input.value = newValue;
  });
</script>

{% endblock content%}
