<form class="settings-form" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <input
      type="hidden"
      name="csrfmiddlewaretoken"
      value="wUq2wF50qXPVrKFAm39LsMH2laADSFa03kABiLkI6s9l3rJTCsIUTQ2j3LwRvhNW"
    />

    <div id="div_id_nomor_arsip" class="form-group">
      <label for="id_nomor_arsip" class="requiredField">
        Nomor arsip<span class="asteriskField">*</span>
      </label>
      <div>
        <select
          name="nomor_arsip"
          class="select form-control"
          required=""
          id="id_nomor_arsip"
        >
          <option value="" selected="">---------</option>
          <option value="2b2dd258-8872-4a61-9a55-5dfe50cdf30b">fasdf</option>
        </select>
      </div>
    </div>
    <div id="div_id_peminjam" class="form-group">
      <label for="id_peminjam" class="requiredField">
        Peminjam<span class="asteriskField">*</span>
      </label>
      <div>
        <select
          name="peminjam"
          class="select form-control"
          required=""
          id="id_peminjam"
        >
          <option value="" selected="">---------</option>
          <option value="fbc4f63a-f5fe-408f-a863-0dbb0f444246">
            Erry Juliani Pasoreh, S.H., M.Si
          </option>
          <option value="27ecf6af-dbe4-40a5-9b30-e775bfb1bc62">
            Hi. Said Salim Niode, S.SiT
          </option>
          <option value="5ece87e0-33d8-4c03-b9c1-36e17a090057">
            Mohamad Ikhsan
          </option>
          <option value="fd8ad016-c4a9-4371-b314-ef19af7170da">
            Itting Thalib
          </option>
          <option value="5f5664df-e54f-41cd-9006-d9fccb6555bf">
            Mohamad Ikhsan Abdullah Hariji
          </option>
          <option value="a245b688-be1d-4502-9e5c-3ddcc7bb4a03">
            Hamdan Mohamad, S.E., M.E.
          </option>
          <option value="c274ae48-f14f-44f5-956d-c5e932b57579">
            Adib Prima Adhitama, S.Si.
          </option>
          <option value="7e9d38e3-ed81-41a1-835d-7c798af6f3a3">
            Masitha Pangulu, S.T.
          </option>
          <option value="eeb800aa-2992-46b2-a7d2-029c77a01f93">
            Dewi Fatmawati S.Tr.
          </option>
          <option value="2f6b10f1-aa77-4bfe-b813-c5c91277586f">
            Reyhan Rifqi Putrananda Diestiantoro
          </option>
          <option value="08e1449c-4478-4f4a-8cff-4acc4670b044">
            Budi Harsoyo Cahyonowinahyu, S.ST., M.H.
          </option>
          <option value="99129961-f699-4551-9995-e9e8ac1f93e5">
            Annisa Nurmeila Pomanto, S.H.
          </option>
          <option value="88c36107-d464-413c-be37-5ce54f57184c">
            Iswan B. Padu, S.H.
          </option>
          <option value="ae314b3f-42b5-496d-810d-c0891e12ce19">
            Vivi Oktaviani Pulukadang, S.H
          </option>
          <option value="fac01af6-3880-490e-949a-0033063ae80a">
            Geo Muhamad Gahara, S.H.
          </option>
          <option value="57d1a936-09a2-49d8-ab8c-84306bb873a6">
            Lukman Hakim Sy. Adam, S.SiT., M.M.
          </option>
          <option value="2bec76d4-e9c1-4dda-b2ba-75e0677b4c60">
            Istianna Prasetia Tri Utami, S.ST
          </option>
          <option value="d9ad8c85-b7f7-4428-95f0-1a20f51d7754">
            Medy Muhsin, S.S.T.
          </option>
          <option value="f404a35c-12d6-41a3-bfca-87673553a555">
            Betharia W M Pangaribuan, S.P.
          </option>
          <option value="d9a17bad-9327-4aa8-8b3f-e6b66173a929">
            Sep Hamdan Rifanuddin, S.T.
          </option>
          <option value="3bb66134-4d29-46ba-94cb-629bb9fe48ba">
            Regita Widiarini Pertiwi, A.Md.
          </option>
          <option value="96b1cfe1-4b7e-496f-9471-6406b33e6eab">
            Yuke Huwaida
          </option>
          <option value="801039be-bac5-4ea4-b6de-863e54927d4e">
            Andi Sufiarma, S.H., M.H.
          </option>
          <option value="823a3fad-c408-4d70-b061-bc1a4dd9e023">
            Hartin Ilham, S.ST
          </option>
          <option value="59c090be-6cff-483c-b420-a2e91d075dd8">
            Pratno Kurniawan, S.H
          </option>
          <option value="948e828c-a2eb-4b7b-adbb-bff0f916b8e3">
            Weli Mohamad, A.Md.Kom
          </option>
          <option value="cdf4bbe9-4329-4479-b9c1-5e2428f12dd8">
            Abdul Mannan, S.SiT
          </option>
          <option value="6f98866a-bf33-40d0-8eb5-7319c288f70b">
            Sonny Andoko, S.SiT
          </option>
          <option value="bbc2b42c-518c-4702-9035-661dcb737870">
            Rony Abdullah, S.S.T.
          </option>
          <option value="04b7c335-e7d6-4e53-afd8-0b7b1d4a7685">
            Rifal Taufik Dunda, S.H.
          </option>
          <option value="c6eccdc1-1b8c-4c68-8266-9a9034a5e5dd">
            Ayuwandira Febriana Sadu, S.T
          </option>
          <option value="9c5918f0-d347-4830-b43e-67dfd73f4f69">
            Yuni Anggraeni, S.H
          </option>
          <option value="be7c28a6-86da-44cc-a4ea-4334bea9646b">
            Amelia P.N.R Monoarfa
          </option>
          <option value="3e887989-e111-460e-9f03-4431e7b7c873">
            Mariyati Bobihu
          </option>
          <option value="771351f3-b2c9-400a-97fb-6b7fe1d92f30">
            Verawati Adam
          </option>
          <option value="f1fd3a8d-a042-4095-b4a5-0cbd63d43a9f">
            Meyke Marta Rimbing
          </option>
          <option value="0530cd12-a013-40e8-9273-374ff4934964">
            Ismail Laiya
          </option>
          <option value="ccc91802-e280-4e0a-a0ae-f76e1b1dd3a3">
            Afni Thalib
          </option>
          <option value="1f5abc79-14f9-45f6-b37a-cf4ebea2572d">
            Sintia Kau
          </option>
          <option value="c03be51a-1efd-4d75-b32f-c9334b0a6abc">
            Stefiana S.Vansolang
          </option>
          <option value="83f4e58c-a049-48f1-95d8-81a326ce29c0">
            Febriany Sri Anggun Lukum
          </option>
          <option value="86501096-fe3b-4f3f-a25b-627037adf1de">
            Sultan Aqsa
          </option>
          <option value="0f61bb86-304e-479e-ad6a-3b48763ed7ce">
            Arfan Wuata
          </option>
          <option value="3dd590c4-7a2a-4405-b361-dc22da2b27fb">
            Timang Mulyana Juliansyah Putera, S.E.
          </option>
          <option value="fd322977-e505-44e3-992a-5cbf9defa46f">
            Armin Hasan
          </option>
          <option value="ccaab331-6df1-4290-85ea-69cc63d7ece6">
            Suci Handayani Hamim, A.Md.
          </option>
          <option value="c96ab8a4-d8d9-4232-9847-e704aaa90323">
            Calista Ayu Tunjung Sari, S.H.
          </option>
          <option value="2db10dfd-5f01-4a07-af51-2feb4b73d684">
            Mohamad Ikhsan Abdullah Hariji, A.Md.
          </option>
          <option value="5511d342-db4e-4464-81b4-1ad1ef4fb606">
            Nur Hidayah, A.Md.Kom
          </option>
          <option value="3cd20048-34b1-478d-855b-f2bfa9bb6e08">
            Erwan Desianto, S.T.
          </option>
          <option value="80861f3e-45ea-47b1-994f-8b4a2d1dc105">
            Zuriaty Ilahude
          </option>
          <option value="830331e3-9b87-437e-9d3d-0b953424353e">
            Raenaldy Wira Utama, S.H.
          </option>
          <option value="6081376a-3dfe-4d17-993e-c0ead1e26970">
            Indra Abd. Karim, S.H.
          </option>
          <option value="3c41cbec-d216-4044-aad3-1617854b1cdf">
            Dian Rizka Kurnia Musa
          </option>
          <option value="175bd2fb-74be-4518-bbf2-38e47bd30c7f">
            Mukmin Huntu
          </option>
          <option value="88da882b-85f6-47bc-a535-1b0775114852">
            Rangga R. Ulango
          </option>
          <option value="72792836-4df7-435c-b79c-66ed36b60b73">
            Siska Dama
          </option>
          <option value="4a1ae086-b0c0-4e37-b995-af681ffe7782">
            Sarini Karim
          </option>
          <option value="e5bce95e-df57-4199-b5a3-7f2cf052e310">
            Moh. Adnan Ali
          </option>
          <option value="b7a5bdab-1219-490a-926c-d996d5c8f32d">
            Idris Haras
          </option>
          <option value="1eac3ce8-933c-4504-9665-89bd8ec0b41d">
            Juni Triwiyanto
          </option>
          <option value="eae70d52-b103-4070-b3c8-6101de799162">
            Agustriono Putra Arief
          </option>
          <option value="56ca69a7-e0b5-45f5-841b-7e7958d78bbf">
            Ibrahim Hurusani
          </option>
          <option value="b3f5c4d5-95c2-44c1-8fc9-77894b2577bf">
            Usman Olii
          </option>
          <option value="80f4c3e1-fd53-4f3f-97e6-1a5d475028fe">
            Kasim Abubakar Bilondatu
          </option>
          <option value="0cbed423-3d32-456b-b50c-986070d09056">
            Husain Harun
          </option>
          <option value="b0d4740b-4f4d-42ba-b96d-04721225b450">
            Rian Hidayat Dau
          </option>
          <option value="9ebdc857-31c5-4aba-8bc8-524c1a76f16f">
            Mohamad Tasrik Talawo
          </option>
          <option value="6a671ecd-7e14-44bc-a067-15d8fd535d4b">
            Heksan Mohamad
          </option>
          <option value="4a600cf1-b304-492c-8c94-9bfce6903b1d">
            Suhartin Thalib
          </option>
          <option value="1fc34afd-7d87-4a7b-9ed0-40e6f0b4e07d">
            Mini Emus
          </option>
          <option value="38fd530c-5e24-4c5c-be71-f8eed32f2135">
            Yulan Palilati
          </option>
          <option value="a55d1ecc-824c-4fb0-b3b7-61987c488f05">
            Yuni Ismail
          </option>
          <option value="c39dbb0d-170e-4c55-8489-9424ca34a110">
            Salma S. Husain
          </option>
        </select>
      </div>
    </div>
    <div id="div_id_keperluan" class="form-group">
      <label for="id_keperluan" class="requiredField">
        Keperluan<span class="asteriskField">*</span>
      </label>
      <div>
        <textarea
          name="keperluan"
          cols="40"
          rows="10"
          style="height: 100px"
          class="textarea form-control"
          required=""
          id="id_keperluan"
        ></textarea>
      </div>
    </div>
    <div id="div_id_tanggal_pinjam" class="form-group">
      <label for="id_tanggal_pinjam" class="requiredField">
        Tanggal pinjam<span class="asteriskField">*</span>
      </label>
      <div>
        <input
          type="date"
          name="tanggal_pinjam"
          class="dateinput form-control"
          required=""
          id="id_tanggal_pinjam"
        />
      </div>
    </div>
    <div id="div_id_tanggal_harus_kembali" class="form-group">
      <label for="id_tanggal_harus_kembali" class="requiredField">
        Tanggal harus kembali<span class="asteriskField">*</span>
      </label>
      <div>
        <input
          type="date"
          name="tanggal_harus_kembali"
          class="dateinput form-control"
          required=""
          id="id_tanggal_harus_kembali"
        />
      </div>
    </div>
    <div id="div_id_tanggal_kembali" class="form-group">
      <label for="id_tanggal_kembali" class="requiredField">
        Tanggal kembali<span class="asteriskField">*</span>
      </label>
      <div>
        <input
          type="date"
          name="tanggal_kembali"
          class="dateinput form-control"
          required=""
          id="id_tanggal_kembali"
        />
      </div>
    </div>

    <button type="submit" class="btn app-btn-primary mt-3">Simpan</button>
  </div>
</form>
